@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .layout {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  .link {
    cursor: pointer;
    text-decoration-line: underline;
  }
}

@layer components {
  /* Button Component */
  .text-only {
    @apply w-full;
  }
  .icon-right {
    @apply gap-3;
  }
  .icon-left {
    @apply flex-row-reverse gap-3;
  }
  .icon-only {
    @apply p-2.5;
  }

  /* Button size */
  .text.small {
    @apply text-sm;
  }
  .icon.small {
    @apply text-lg;
  }
  .icon.medium {
    @apply text-xl;
  }

  /* Button color */
  .btn.primary {
    @apply bg-primary text-white shadow-sm hover:bg-opacity-80;
  }
  .btn.secondary {
    @apply bg-secondary text-primary shadow-sm hover:bg-secondaryHover;
  }
  .btn.gray {
    @apply bg-black bg-opacity-10 text-black text-opacity-70 hover:bg-opacity-20;
  }
  .btn.danger {
    @apply bg-danger-sub text-danger-main hover:bg-danger-hover;
  }
  .btn.transparent {
    @apply text-white shadow-none hover:bg-white hover:bg-opacity-25;
  }
  /* End Button Component */

  /* Input Component */
  .input-primary {
    @apply border-gray-300;
  }
  .input-secondary {
    @apply bg-secondary border-primary placeholder:text-primary;
  }
  /* End Input Component */

  .nav {
    @apply block py-2 pl-3 pr-4 rounded md:p-0;
  }

  .nav-active {
    @apply text-yellow-400;
  }

  .nav-inactive {
    @apply text-gray-900  hover:bg-gray-100 md:hover:bg-transparent md:hover:text-yellow-400;
  }

  .divider {
    @apply bg-gray-200;
    height: 1px;
    margin: 0.75rem 0;
    border-radius: 100%;
  }

  .footer {
    display: grid;
    width: 100%;
    grid-auto-flow: row;
    place-items: start;
    row-gap: 2.5rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .footer > * {
    display: grid;
    place-items: start;
    gap: 0.5rem;
  }

  .footer-title {
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0.5;
  }

  @media (min-width: 48rem) {
    .footer {
      grid-auto-flow: column;
    }
  }

  .tab {
    @apply inline-block p-4 border-b-2 rounded-t-lg;
  }

  .tab-active {
    @apply text-yellow-400 border-yellow-400;
  }

  .tab-inactive {
    @apply border-transparent hover:text-gray-600 hover:border-gray-300;
  }
}
